<extend name = "Public:layout" />

<block name="main">

	<link href="__PUBLIC__/HOME/myOrder/ResourceHandler_004.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_002.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_003.css" rel="stylesheet" type="text/css">
    
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_007.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_005.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_006.css" rel="stylesheet" type="text/css">

<div class="box" id="sp_newHeader">
    <!--sp-header-midbar begin-->
    <div id="sp-header-midbar" class="clr">
        <div class="logowrap flt">
           
            <a href="__APP__/myCenter" title="用户中心">
                <img src="__PUBLIC__/HOME/myOrder/logo_member_new.jpg" alt="用户中心" height="38" width="105"></a>
            </div>
        <ul id="sp_newHeader_loginForm" class="frt">
            <li>欢迎<span>{$_SESSION['user']['users_name']}</span>，
            <a href="__APP__/Login/out" title="退出">[退出]</a></li>
        </ul>
        <div id="sp-header-topbar" class="frt">
            <ul class="clr">
                <li><a href="">唯风尚</a></li>
                <li><a href="">奥莱vip</a></li>
                <li><a href="">手机vip</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="member_wrapper">
        <!--member Start-->
        <div class="box clr">

<div id="member_left" class="flt">
    <div class="member_leftMenu">
        <h6>交易管理</h6>
        <ul>
            <li><a id="OrderList" href="__APP__/myOrder">我的订单</a></li>

        </ul>
        
		<h6>我的收藏</h6>
        <ul>
            <li><a id="FavoriteProduct" href="__APP__/Collect">我的商品收藏</a></li>
            <li><a id="FavoriteProduct" href="__APP__/Profiles">其他收货地址</a></li>
		</ul>		
       
        
        <h6>分享与关注</h6>
        <ul>
            <li><a id="FavoriteBrand" href="__APP__/Share/detail">我的分享</a></li>
        </ul>
		
		
		<h6>账户管理</h6>
        <ul>
            <li><a class="curr" id="UserInfo" href="__APP__/myCenter">账户信息</a></li>
            
           <li><a id="ChangePwd" href="__CONTROLLER__/repass">修改密码</a></li>
        </ul>

        <h6>我的评论</h6>
        <ul>
            <li><a id="FavoriteBrand" href="__APP__/Comments">浏览评论</a></li>
        </ul>
    
	</div>
</div>
       
<!--member rightSidebar Start -->
<div id="member_right" class="flt">
    <input id="flag" value="" type="hidden">
    <h2>
        我的订单<a href="" class="mobiapp">手机客户端，随时随地查看物流信息</a>
    </h2>
    
    <!-- orderList Start -->
    <div id="spTabs">
        
        <div class="member_content" id="spTabs_content">
                <!-- 暂无数据 Start -->
                 <table class="prodList" border="0" cellpadding="0" cellspacing="0">
                            <colgroup>
                                <col width="100">
                                <col width="110">
                                <col width="100">
                                <col width="100">
                                <col width="60">
                                <col width="110">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                	<th>
                                        订单号
                                    </th>
                                    <th>
                                        联系人
                                    </th>
                                    <th>
                                        联系地址
                                    </th>
                                    <th>
                                        联系电话
                                    </th>
                                    <th>
                                        订单时间
                                    </th>
                                    <th>
                                       	总价
                                    </th>                                    
                                    <th> 
                                    	订单状态 
                                    </th>
                                    <th>
                                        <span>操作</span>
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                            <!-- 遍历表内容并输出 -->
									<foreach name="orders" item="order">
									<tr style="border-bottom:1px solid #ccc">
										<td>{$order['orders_num']}</td>
										<td>{$order['orders_linkman']}</td>
										<td>{$order['orders_address']}</td>
										<td>{$order['orders_phone']}</td>
										<td>{$order['orders_addtime']|date="Y-m-d",###}</td>
										<td>{$order['orders_total']}</td>
										<td style="display:none">{$order['orders_id']}</td>
										<!-- 根据订单状态不同显示不同信息 -->
										<switch name="order['orders_status']">
											<case value='0'><td>新订单</td>
											</case>
											<case value="1"><td>待收货|
											<a class="accept">确认收货</a></td></case>
											<case value="2"><td>已收货</td></case>
											<case value="3"><td>无效的订单</td></case>
											<default />默认情况
										</switch>
										<!-- <td>{$order['orders_status']}</td> -->
										<td><a href="__APP__/Detail/index/orderid/{$order.orders_id}">查看详情</a></td>
									</tr>
									</foreach>
                            </tbody>
                        </table>

                        <script type="text/javascript">
                        	$(".accept").click(function(){

								var id = $(this).parent().prev().html();
                        		$.get("__APP__/MyOrder/modify",{id:id});
								$(this).parent().html("已收货");
                        	});
                        </script>
 
        </div>
    </div>
</div>


        </div>
    </div>

</block>