<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">商品详情管理</a>
							</li>
							<li class="active">修改商品详情</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>
                     
					<div class="page-content">
						<div class="page-header">
							<h1>
								商品详情管理
								<small>
									<i class="icon-double-angle-right"></i>
									修改商品详情
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" action="__URL__/update" method="post" role="form" enctype="multipart/form-data">
								    <input type="hidden" name="gdetail_id" value="{$gdetail['gdetail_id']}"/>
								 
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 商品ID：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2" name="gdetail_goodsid" value="{$gdetails[gdetail_goodsid]}" class="col-xs-10 col-sm-5" readonly/>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>											
										</div>
									</div>
									<div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 图片1名：</label>
									<div class="form-group">
											 <div id="imgs"><img width="200px" src="__PUBLIC__/uploads/{$gdetails['gdetail_picname1']}"></div>
											<center><input id="file_upload" name="gdetail_picname1" type="file" multiple="true" value="{$gdetails[gdetail_picname1]}" /></center>
											
										</div>
										<input type="hidden" name="oldpicname1" value="{$gdetails['gdetail_picname1']}"/>
									</div>
                                    <div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 图片2名：</label>
									<div class="form-group">
											 <div id="imgs"><img width="200px" src="__PUBLIC__/uploads/{$gdetails['gdetail_picname2']}"></div>
											<center><input id="file_upload" name="gdetail_picname2" type="file" multiple="true" value="{$gdetails[gdetail_picname2]}" /></center>
											<script>
													var img = '';
													$('#file_upload').uploadify({
															'swf'      : '__PUBLIC__/Admin/uploadify.swf',
															'uploader' : '{:U("Goods/upload")}',
															'buttonText' : '图片上传',
															'onUploadSuccess' : function(file, data, response) {
															
															 img += "<img width='200px' src='"+data+"'>";
															$('#imgs').html(img);
															//$('#images').val(data);
														}
													});
												</script>
										</div>
										<input type="hidden" name="oldpicname2" value="{$gdetails['gdetail_picname2']}"/>
									</div>
									<div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 图片3名：</label>
									<div class="form-group">
											 <div id="imgs"><img width="200px" src="__PUBLIC__/uploads/{$gdetails['gdetail_picname3']}"></div>
											<center><input id="file_upload" name="gdetail_picname3" type="file" multiple="true" value="{$gdetails[gdetail_picname3]}" /></center>
											<script>
													var img = '';
													$('#file_upload').uploadify({
															'swf'      : '__PUBLIC__/Admin/uploadify.swf',
															'uploader' : '{:U("Goods/upload")}',
															'buttonText' : '图片上传',
															'onUploadSuccess' : function(file, data, response) {
															
															 img += "<img width='200px' src='"+data+"'>";
															$('#imgs').html(img);
															//$('#images').val(data);
														}
													});
												</script>
										</div>
										<input type="hidden" name="oldpicname3" value="{$gdetails['gdetail_picname3']}"/>
									</div>
									<div class="space-4"></div>


									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 图片4名：</label>
									<div class="form-group">
											 <div id="imgs"><img width="200px" src="__PUBLIC__/uploads/{$gdetails['gdetail_picname4']}"></div>
											<center><input id="file_upload" name="gdetail_picname4" type="file" multiple="true" value="{$gdetails[gdetail_picname4]}" /></center>
											<script>
													var img = '';
													$('#file_upload').uploadify({
															'swf'      : '__PUBLIC__/Admin/uploadify.swf',
															'uploader' : '{:U("Goods/upload")}',
															'buttonText' : '图片上传',
															'onUploadSuccess' : function(file, data, response) {
															
															 img += "<img width='200px' src='"+data+"'>";
															$('#imgs').html(img);
															//$('#images').val(data);
														}
													});
												</script>
										</div>
										<input type="hidden" name="oldpicname4" value="{$gdetails['gdetail_picname4']}"/>
									</div>
									<div class="space-4"></div>
																	
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 货 号：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2" name="gdetail_gnum" value="{$gdetails[gdetail_gnum]}" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>
										</div>
									</div>
                                    <div class="space-4"></div>
																	
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 材 质：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2" name="gdetail_texture" value="{$gdetails[gdetail_texture]}" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
																	
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 产 地：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2" name="gdetail_pplace" value="{$gdetails[gdetail_pplace]}" class="col-xs-10 col-sm-5" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>
										</div>
									</div>
									
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 描 述：</label>

										<div class="col-sm-9">
											<textarea cols="20" rows="4" id="form-field-2" name="gdetail_descr" class="col-xs-10 col-sm-5" >{$gdetails[gdetail_descr]} </textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 清洁与保养：</label>

										<div class="col-sm-9">
											<textarea cols="20" rows="4" id="form-field-2" name="gdetail_clean" class="col-xs-10 col-sm-5" >{$gdetails[gdetail_clean]} </textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">*</span>
											</span>
										</div>
									</div>

									
                                    
                                    <input type="hidden" name="gdetail_id" value="{$gdetails['gdetail_id']}"/>
									<div class="space-4"></div> 								
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												Submit
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												Reset
											</button>
										</div>
									</div>
                                  
									</form>
							</div>
									</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

</block>