<extend name="Public:layout" />
<block name="main">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="VIPLUX">
	<meta name="keywords" content="VIPLUX">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/List/css/vl-category.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/List/css/comm.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/List/css/vl-global.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/List/css/vl-common.css">
<!-- 正文内容 开始 -->
<body class="middleSize">
	<script type="text/javascript" src="__PUBLIC__/Home/List/js/vl-category.js"></script>
<script type="text/html" id="nav_shopping_tmp">
<div class="shopping">
		<div class="shopping-list">
	    <ul>
		{#products}
		<li>
		    <a href="{$url}">
			<div class="shoping-img-l">
			    <img src="{$image_url}">
			</div>
			<div class="shoping-list-r">
			    <div class="brand-name">{$brand_name}<span>￥{$final_price}×{$qty}</span></div>
			    <div class="shoping-logo">
                                {$name}
			    </div>
			    <div class="shoping-format">
                                {#cfg_opts}
                                <span class="b_{$label}">{$value}</span>
                                {#/cfg_opts}
			    </div>
			</div>
		    </a>
		</li>
		{#/products}
	    </ul>
	</div>
	<div class="shopping-bottom">
	    <div class="sb-line">
		<span>小计：￥{$subtotal}</span>
		<a href="/checkout/cart" class="show-shopping" mars_sead="99999|0|1|6">查看购物袋</a>
	    </div>
	</div>
</div>
</script>

	<div class="vl-category" data-id="men" data-key="men">
  	<div class="product-list tab-item">
        
    	
	
    <div class="container main">
        
        <div class="row search-result">
            <div class="nav">
                <a href="#product">产品（{$goodss['counts']}）</a>
               
              
            </div>
            <div class="space-bar"></div>
            <a id="product"></a>
            <h4>产品<small>（<a href="###">共有{$goodss['counts']}个结果</a>）</small></h4>
            <table class="table">
                <tbody>
                    <ul class="items">
    <foreach name="goodss['goods']" item="goods">
	
	 <li>
	              <div class="item">
	                <div class="img-box" >
	                  <div class="normal"><a target="_blank" href="__APP__/Gdetail/index/id/{$goods['goods_id']}"><img src="__PUBLIC__/uploads/{$goods['goods_picname']}" alt="{$goods['goods_goods']}" title="{$goods['goods_goods']}"></a></div>
	                  <div class="hover"><a target="_blank" href="__APP__/Gdetail/index/id/{$goods['goods_id']}"><img src="__PUBLIC__/uploads/{$goods['goods_picname2']}" alt="{$goods['goods_goods']}" title="{$goods['goods_goods']}"></a></div>
	                  	                  <div class="try"><if condition="$goods['goods_state'] eq 1"> 
																新品上市
																<elseif condition="$goods['goods_state'] eq 2"/>在售<elseif condition="$goods['goods_state'] eq 3"/>热销<elseif condition="$goods['goods_state'] eq 4"/>掌柜推荐<else condition="$goods['goods_state'] eq 5"/>已下架
															</if></div>
	                  	                  
	                  	                  
	                </div>
	                <p class="brand-name">Just cavalli</p>
	                <p class="name"><a title="{$goods['goods_goods']}" target="_blank" href="__APP__/Gdetail/index/id/{$goods['goods_id']}">{$goods['goods_goods']}</a></p>
	                                  <div class="info no-login"><del>￥{$goods['goods_price']}</del><span class="tip">查看VIP价</span></div>
                  	</div>
	            </li>
		
	</foreach>
		 </ul>
                    <tr>
                        <td colspan="4">
                            <a class="check-more" href="###">查看更多关于“{$keyword}”的产品</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="space-bar"></div>
        
            <div class="space-bar"></div>
            <a id="video"></a>
            
        </div>
    </div>

</block>