<extend name="Public:layout" />
<block name="main-content">
	<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">系统公告</a>
							</li>
							<li class="active">添加系统公告</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								系统公告
								<small>
									<i class="icon-double-angle-right"></i>
									添加系统公告
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" action="__CONTROLLER__/insert" method="post" role="form">
									<!--公告标题-->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">公告标题：</label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1" name="notice_title"  placeholder="请输入标题" class="col-xs-10 col-sm-5" />
                                        </div>
									</div>
										
									<!--公告详情-->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">详 情：</label>

										<div class="col-sm-9">
											<textarea cols="20" rows="4" id="form-field-2" name="notice_descr" placeholder="请添加公告内容" class="col-xs-10 col-sm-5" ></textarea>
                                        </div>
									</div>									
								
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												Submit
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												Reset
											</button>
										</div>
									</div>
									
									</form>
									</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

</block>