<extend name = "Public:layout" />

<block name="main">
 

	<link href="__PUBLIC__/HOME/myOrder/ResourceHandler_004.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_002.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_003.css" rel="stylesheet" type="text/css">
    
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_007.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_005.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_006.css" rel="stylesheet" type="text/css">

<div class="box" id="sp_newHeader">
    <!--sp-header-midbar begin-->
    <div id="sp-header-midbar" class="clr">
        <div class="logowrap flt">
           
            <a href="__APP__/myCenter" title="用户中心">
                <img src="__PUBLIC__/HOME/myOrder/logo_member_new.jpg" alt="用户中心" height="38" width="105"></a>
            </div>
        <ul id="sp_newHeader_loginForm" class="frt">
            
        </ul>
        <div id="sp-header-topbar" class="frt">
            <ul class="clr">
                <li><a href="">唯风尚</a></li>
                <li><a href="">奥莱vip</a></li>
                <li><a href="">手机vip</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="member_wrapper">
        <!--member Start-->
        <div class="box clr">

<div id="member_left" class="flt">
    <div class="member_leftMenu">
        <h6>
            交易管理</h6>
        <ul>
            <li><a class="curr" id="OrderList" href="__APP__/myOrder">我的订单</a></li>
      
        </ul>
        <h6>
            我的收藏</h6>
        <ul>
            <li><a id="FavoriteProduct" href="">收藏的单品</a> </li>
        </ul>
       
        
        <h6>
            分享与关注</h6>
        <ul>
            <li><a id="FavoriteBrand" href="">我的分享</a></li>
        </ul>
         <h6>
            账户管理</h6>
        <ul>
            <li><a id="UserInfo" href="__APP__/myCenter">账户信息</a></li>
            
           <li><a id="ChangePwd" href="__CONTROLLER__/repass">修改密码</a></li>
        </ul>

        <h6>
            我的评论</h6>
        <ul>
            <li><a id="FavoriteBrand" href="__APP__/Comments">浏览评论</a></li>
        </ul>
    </div>
</div>
            
<!--member rightSidebar Start -->
<div id="member_right" class="flt">
    <input id="flag" value="" type="hidden">
    <h2>
        我的评论<a href="" class="mobiapp">手机客户端，随时随地查看物流信息</a>
    </h2>
    
    <!-- orderList Start -->
    <div id="spTabs">
        
        <div class="member_content" id="spTabs_content">
                <!-- 暂无数据 Start -->
                 <table class="prodList" border="0" cellpadding="0" cellspacing="0">
                           
                            <thead>
                                <tr style="border-bottom:1px dashed black">
                                	<th width="60px">标题：</th>
                                    <td>{$details['commentDetail_title']}</td>
                                </tr>

                            </thead>
                            <tbody>
                            <tr style="border-bottom:1px solid gray">
								<th>评论内容</th>
								<td>  &nbsp; &nbsp; &nbsp; &nbsp;{$details['commentDetail_content']}</td>
							</tr>
                            </tbody>
                        </table>
 
        </div>
    </div>
    <!-- orderList End -->
    <!-- pages Start -->
    <!-- pages End -->
</div>
<!--member rightSidebar End -->

        </div>
    </div>

</block>