<extend name = "Public:layout" />

<block name="main">

	<link href="__PUBLIC__/HOME/myOrder/ResourceHandler_004.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_002.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_003.css" rel="stylesheet" type="text/css"> 
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_007.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_005.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/HOME/myOrder/ResourceHandler_006.css" rel="stylesheet" type="text/css">

    
<div class="box" id="sp_newHeader">
    <!--sp-header-midbar begin-->
    <div id="sp-header-midbar" class="clr">
        <div class="logowrap flt">
           
            <a href="__APP__/myCenter" title="用户中心">
                <img src="__PUBLIC__/HOME/myOrder/logo_member_new.jpg" alt="用户中心" height="38" width="105"></a>
            </div>
        <ul id="sp_newHeader_loginForm" class="frt">
            <li>欢迎<span>{$_SESSION['user']['users_name']}</span>，
            <a href="__APP__/Login/out" title="退出">[退出]</a></li>
        </ul>
        <div id="sp-header-topbar" class="frt">
            <ul class="clr">
                <li><a href="">唯风尚</a></li>
                <li><a href="">奥莱vip</a></li>
                <li><a href="">手机vip</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="member_wrapper">
        <!--member Start-->
        <div class="box clr">

<div id="member_left" class="flt">
    <div class="member_leftMenu">
        <h6>
            交易管理</h6>
        <ul>
            <li><a class="curr" id="OrderList" href="__APP__/myOrder">我的订单</a></li>
      
        </ul>
        <h6>
            我的收藏</h6>
        <ul>
            <li><a id="FavoriteProduct" href="">收藏的单品</a> </li>
        </ul>
       
        
        <h6>
            分享与关注</h6>
        <ul>
            <li><a id="FavoriteBrand" href="">我的分享</a></li>
        </ul>
         <h6>
            账户管理</h6>
        <ul>
            <li><a id="UserInfo" href="__APP__/myCenter">账户信息</a></li>
            
           <li><a id="ChangePwd" href="__CONTROLLER__/repass">修改密码</a></li>
        </ul>

        <h6>
            我的评论</h6>
        <ul>
            <li><a id="FavoriteBrand" href="__APP__/Comments">浏览评论</a></li>
        </ul>
    </div>
</div>
            
<!--member rightSidebar Start -->
<div id="member_right" class="flt">
    <input id="flag" value="" type="hidden">
    <h2>
        我的订单<a href="" class="mobiapp">手机客户端，随时随地查看物流信息</a>
    </h2>
    
    <!-- orderList Start -->
    <div id="spTabs">
        
        <div class="member_content" id="spTabs_content">
                <!-- 暂无数据 Start -->
             <table class="prodList" border="0" cellpadding="0" cellspacing="0">
                
                <thead>
                    <tr>
                    	<th>
                            详情ID
                        </th>
                        <th>
                            订单ID
                        </th>
                        <th>
                           商品ID
                        </th>
                        <th>
                            商品名
                        </th>
                        <th>
                            商品图片
                        </th>
                        <th>
                           	商品单价
                        </th>   
                        <th>
                            商品数量
                        </th>
                        <th>
                            商品总价
                        </th>                                         
                        <th>    
                            评论
                        </th>
                      
                    </tr>

                </thead>
                <tbody>
                <!-- 遍历表内容并输出 -->
						<foreach name="details" item="detail" key="k">

						<tr style="border-bottom:1px solid #ccc">
							<td>{$detail['detail_id']}</td>
                            <td>{$detail['detail_orderid']}</td>
                            <td>{$detail['detail_goodsid']}</td>
                            <td>{$detail['detail_name']}</td>
                            <td><img width="80px" height="90px" src="__PUBLIC__/Uploads/{$detail['detail_pic']}"/></td>
                            <td>{$detail['detail_price']}</td>
                            <td>{$detail['detail_num']}</td>
                            <td>{$detail['detail_total']}</td>
                                            
							<td>
								<span class="send" style="background-color:#c2c2c2">发表评论</span>
							</td>
						</tr>
						
						<tr style="display:none" class="none">
						
							<form action="__APP__/Comments/insert" method="post">

								<input type="hidden" name="goodsid" 
									value="{$detail['detail_goodsid']}"/>
								<input type="hidden" name="goodspic" 
									value="{$detail['detail_pic']}"/>

		                        <th style="width:30px">标<br> &nbsp;&nbsp;&nbsp;题：</th>

		                        <td>
		                        	<textarea rows="3" cols="9" name="title"></textarea>
		                        </td>

		                        <th>内<br> &nbsp;&nbsp;&nbsp;容：</th>

		                        <td>
		                        	<textarea rows="3" cols="88" name="content"></textarea>
		                        </td>

								<th>
									<input type="submit" value="发  表" style="background-color:#d2a6c7;"><br/>
									<input type="reset" value="重  置" style="background-color:#d2a6c7;">
								</th>
		                    </form>

						</tr>

						</foreach>
                </tbody>
            </table>
 
        </div>
    </div>
</div>
<script type="text/javascript">
	
	$(".send").click(function(){
		var tr = $(this).parent().parent().next();
		$(".none").attr("style","display:none");
		tr.attr("style","display:block");
	});
</script>
        </div>
    </div>

</block>